In [63]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestClassifier

In [37]:
df = pd.read_spss("1ResearchProjectData.sav")
df = df.drop(columns=['wesson'])
df = df.dropna()
df

     Student Teacher  Gender            Ethnic    Freeredu  Score
0        1.0   Ruger  Female             Asian  Free lunch   76.0
1        2.0   Ruger  Female          Hispanic  Paid lunch   56.0
2        3.0   Ruger  Female  African-American  Free lunch   34.0
3        4.0   Ruger  Female             Asian  Paid lunch   59.0
4        5.0   Ruger    Male          Hispanic  Free lunch   73.0
..       ...     ...     ...               ...         ...    ...
211    212.0  Wesson    Male  African-American  Paid lunch   56.0
212    213.0  Wesson    Male          Hispanic  Free lunch   94.0
213    214.0  Wesson    Male          Hispanic  Paid lunch   91.0
214    215.0  Wesson  Female  African-American  Paid lunch   53.0
215    216.0  Wesson    Male          Hispanic  Paid lunch   57.0

[216 rows x 6 columns]

## Replace the name of teacher with 1, 2 or 3
 Ruger = 1
 Wesson = 2
 Smith = 3
## Replace lunch status with 0 and 1
 Free lunch = 0
 Paid lunch = 1
## Replace Gender with 1's and 0's
 Female = 0
 Male = 1
## Replace ethinicity with 1 through 4
 African American = 1
 Hispanic = 2
 Caucasian = 3
 Asian = 4

In [38]:
# Teacher
df.replace('Ruger',1,inplace=True)
df.replace('Wesson',2,inplace=True)
df.replace('Smith',3,inplace=True)

# Lunch status
df.replace('Free lunch',0,inplace=True)
df.replace('Paid lunch',1,inplace=True)

# Gender:
df.replace('Female',0,inplace=True)
df.replace('Male',1,inplace=True)

#Ethnicity
df.replace('African-American',1,inplace=True)
df.replace('Hispanic',2,inplace=True)
df.replace('Caucasian',3,inplace=True)
df.replace('Asian',4,inplace=True)

In [39]:
df

     Student Teacher Gender Ethnic Freeredu  Score
0        1.0       1      0      4        0   76.0
1        2.0       1      0      2        1   56.0
2        3.0       1      0      1        0   34.0
3        4.0       1      0      4        1   59.0
4        5.0       1      1      2        0   73.0
..       ...     ...    ...    ...      ...    ...
211    212.0       2      1      1        1   56.0
212    213.0       2      1      2        0   94.0
213    214.0       2      1      2        1   91.0
214    215.0       2      0      1        1   53.0
215    216.0       2      1      2        1   57.0

[216 rows x 6 columns]

In [40]:
X = pd.DataFrame(df, columns=['Gender', 'Ethnic', 'Freeredu','Score'])
y = pd.DataFrame(df, columns=['Teacher'])


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 10)

## KNN Classifier:

In [99]:
knn = KNeighborsClassifier(n_neighbors=6)

knn.fit(X_train,y_train.values.ravel())
yPred = knn.predict(X_test)

MSE = mean_squared_error(y_true=y_test,y_pred=yPred)

score = knn.score(X_test,y_test.values.ravel())

print("The MSE for this model is {} and the accuracy is {}".format(MSE,score))

The MSE for this model is 0.8769230769230769 and the accuracy is 0.5846153846153846

## Random Forest Classifier

In [107]:
rfc = RandomForestClassifier(max_depth=9,n_estimators=100,ccp_alpha=0.002)
rfc.fit(X_train,y_train.values.ravel())

score = rfc.oob_score(X_test,y_test.values.ravel())

score

TypeError: 'bool' object is not callable

In [108]:
y_test

    Teacher
76        3
182       2
111       3
184       2
70        1
..      ...
68        1
119       3
148       2
110       3
191       2

[65 rows x 1 columns]