In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder

In [10]:
df = pd.read_spss("1ResearchProjectData.sav")
df = df.drop(columns=['wesson'])
df

     Student Teacher  Gender            Ethnic    Freeredu  Score
0        1.0   Ruger  Female             Asian  Free lunch   76.0
1        2.0   Ruger  Female          Hispanic  Paid lunch   56.0
2        3.0   Ruger  Female  African-American  Free lunch   34.0
3        4.0   Ruger  Female             Asian  Paid lunch   59.0
4        5.0   Ruger    Male          Hispanic  Free lunch   73.0
..       ...     ...     ...               ...         ...    ...
212    213.0  Wesson    Male          Hispanic  Free lunch   94.0
213    214.0  Wesson    Male          Hispanic  Paid lunch   91.0
214    215.0  Wesson  Female  African-American  Paid lunch   53.0
215    216.0  Wesson    Male          Hispanic  Paid lunch   57.0
216      NaN     NaN     NaN               NaN         NaN    NaN

[217 rows x 6 columns]

## Replace the name of teacher with 1, 2 or 3
 Ruger = 1
 Wesson = 2
 Smith = 3
## Replace lunch status with 0 and 1
 Free lunch = 0
 Paid lunch = 1
## Replace Gender with 1's and 0's
 Female = 0
 Male = 1
## Replace ethinicity with 1 through 4
 African American = 1
 Hispanic = 2
 Caucasian = 3
 Asian = 4

In [14]:
# Teacher
df.replace('Ruger',1,inplace=True)
df.replace('Wesson',2,inplace=True)
df.replace('Smith',3,inplace=True)

# Lunch status
df.replace('Free lunch',0,inplace=True)
df.replace('Paid lunch',1,inplace=True)

# Gender:
df.replace('Female',0,inplace=True)
df.replace('Male',1,inplace=True)

#Ethnicity
df.replace('African-American',1,inplace=True)
df.replace('Hispanic',2,inplace=True)
df.replace('Caucasian',3,inplace=True)
df.replace('Asian',4,inplace=True)

In [15]:
df

     Student Teacher Gender Ethnic Freeredu  Score
0        1.0       1      0      4        0   76.0
1        2.0       1      0      2        1   56.0
2        3.0       1      0      1        0   34.0
3        4.0       1      0      4        1   59.0
4        5.0       1      1      2        0   73.0
..       ...     ...    ...    ...      ...    ...
212    213.0       2      1      2        0   94.0
213    214.0       2      1      2        1   91.0
214    215.0       2      0      1        1   53.0
215    216.0       2      1      2        1   57.0
216      NaN     NaN    NaN    NaN      NaN    NaN

[217 rows x 6 columns]